[submodule "ProtoTilesPen"]
	path = ProtoTilesPen
	url = https://github.com/Minecraftian14/ProtoTilesPen.git
[submodule "StraightLines"]
	path = StraightLines
	url = https://github.com/Minecraftian14/StraightLines.git
